.page-maintenance {
  padding: 50px 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  h1 {
  	&:before {
  		content: "";
  		display: block;
  		width: 150px;
  		height: 150px;
  		margin: 0 auto 1em;
  		background: url('../img/admin/info.png');
  		background: url('../img/admin/info.svg'), none;
  		background-size: 150px 150px;
  	}
  }
}