/**
 * Tabs
 */

.tabs.primary {
	list-style: none;
	padding-left: 0;
	border-bottom: 1px solid $border-color;
	li {
		display: inline-block;
		position: relative;
		top: 1px;
	}
	a {
		display: inline-block;
		padding: .5em 1em;
		&.active {
			border-top: 1px solid $border-color;
			border-left: 1px solid $border-color;
			border-right: 1px solid $border-color;
			border-bottom: 0 solid white;
			background: white;
		}
	}

}